{% extends 'base.html' %}
{% load static %}

{% block body %}

<section class="flex items-center gap-8">
    <figure>
        <img class="h-[45rem]" src="{% static 'img/member.jpeg' %}" alt="An image showing a group of smiling people">
    </figure>
    <div class="flex flex-col items-center">
        <figure>
            <img class="w-[200px] h-[200px]" src="{% static 'img/green-check-mark.png' %}" alt="Green check mark image">
        </figure>
        <div class="text-center mb-8">
            <h1 class="text-white text-4xl font-semibold">Exclusive members' area</h1>
            <p class="text-gray-300 text-center font-light mt-2">You've successfully authenticated. Your device is now connected.</p>    
        </div>
        <div>
            <a href="/accounts/logout/" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Logout
                </span>
            </a>
        </div>    
    </div>
</section>

{% endblock  %}