{% extends 'base.html' %}
{% load static %}

{% block body %}

<section class="flex items-center gap-8">
    <figure>
        <img class="h-[45rem]" src="{% static 'img/member.jpeg' %}" alt="An image showing a group of smiling people">
    </figure>
    <div class="flex flex-col items-center">
        <figure>
            <img class="w-[200px] h-[200px]" src="{% static 'img/green-check-mark.png' %}" alt="Green check mark image">
        </figure>
        <h1 class="text-white text-4xl font-semibold">Exclusive members' area</h1>
        <p class="text-gray-300 text-center font-light mt-2">You've successfully authenticated. Your device is now connected.</p>
    </div>
</section>

{% endblock  %}